@use '@angular/material' as mat;
//@import 'typography';
//@import 'palette';

@include mat.core();

$dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette(mat.$indigo-palette, 500),
        accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
    )//,
    //typography: $my-typography
));

$light-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette(mat.$pink-palette, 500),
        accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
    )
));



@include mat.all-component-themes($dark-theme);
// @include mat.core-theme($dark-theme);
// @include mat.toolbar-theme($dark-theme);
// @include mat.button-theme($dark-theme);
// @include mat.icon-button-theme($dark-theme);
// @include mat.icon-theme($dark-theme);
// @include mat.fab-theme($dark-theme);
// @include mat.slide-toggle-theme($dark-theme);
// @include mat.form-field-theme($dark-theme);
// @include mat.menu-theme($dark-theme);
// @include mat.sidenav-theme($dark-theme);
// @include mat.list-theme($dark-theme);
// @include mat.datepicker-theme($dark-theme);

.light {
    @include mat.all-component-colors($light-theme);
    // @include mat.core-color($light-theme);
    // @include mat.toolbar-color($light-theme);
    // @include mat.button-color($light-theme);
    // @include mat.slide-toggle-color($light-theme);
    // @include mat.form-field-color($light-theme);
    // @include mat.menu-color($light-theme);
    // @include mat.sidenav-color($light-theme);
    // @include mat.list-color($light-theme);
    // @include mat.datepicker-color($light-theme);
    // @include mat.icon-button-color($light-theme);
    // @include mat.icon-color($light-theme);
    // @include mat.fab-color($light-theme);
}


