@use '@angular/material' as mat;

$my-h1: mat.define-typography-level(24px, 32px, 600, Roboto, normal);
$my-h2: mat.define-typography-level(20px, 28px, 500, Roboto, normal);
$my-h3: mat.define-typography-level(16px, 22px, 400, Roboto, normal);
$my-h4: mat.define-typography-level(14px, 20px, 400, Roboto, normal);
$my-body-1: mat.define-typography-level(12px, 16px, 400, Roboto, normal);
$my-body-2: mat.define-typography-level(10px, 14px, 300, Roboto, normal);
$my-caption: mat.define-typography-level(16px, 20px, 400, Roboto, normal);
$my-button: mat.define-typography-level(24px, 32px, 400, Roboto, normal);

$my-typography: mat.define-typography-config(
    $headline-5: $my-h1,
    $headline-6: $my-h2,
    $subtitle-1: $my-h3,
    $subtitle-2: $my-h4,
    $body-1: $my-body-1,
    $body-2: $my-body-2,
    $caption: $my-caption,
    $button: $my-button
);

@include mat.typography-hierarchy($my-typography);